/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");

/* google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Libre Franklin", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.error {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
